* {
	font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	letter-spacing: 0.5px;
}



/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: lightblue; 
	border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(145, 199, 218); 
}

.main{
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 90vh; */
	margin-top: 40px;
}	
.main-container{
	/* display: flex;
	text-align: center; */
	width: 85vw;
	height: 40vw;
	/* background-color: red; */
	display: grid;
	grid-template-areas:
	  'video chatbox'
	  'info chatbox'
	  'control chatbox';

	/* Standard: 60vw */
	grid-template-rows: 30vw auto 75px;
	grid-template-columns: 54vw auto;
	gap: 18px 24px;
	/* background-color: #2196F3; */
}

@media (max-width: 800px) {
	.main-container {
		grid-template-areas:
		'video'
		'info'
		'control'
		'chatbox';
		/* grid-template-rows: auto auto auto; */
	}
}
  
  

.video { grid-area: video; background-color: red; }

.info { 
	grid-area: info;
	display: flex;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}
.door{
	width: 65%;
	margin-left: 10px;
}

.bulb{
	width: 35%;
}

.chatbox {
	grid-area: chatbox; 
	/* background-color: red; */
}

.round{
	border-radius: 30px !important;
}

.title{
    display: flex; 
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
    margin: 5px 0px 15px;
    font-weight: bold;
    font-size: 21px;
}

.input{
    background-color: #F5F5F5;
    margin: 0;
    padding: 10px;
    border: 2px solid #E7E7E7;
    box-shadow: 1px 1px 1px 1px #888888;
    border-radius: 5px;

	/* position: relative; */
	/* overflow: hidden; */
}

.scroll-bar{
	height: 72vh;
	margin: 0px 8px;
	border: 1px solid #E7E7E7;
	background-color: white;
	/* padding: 10px; */
	overflow-y: scroll;
}

.message{
	align-items: center;
	margin: 5px 0px;
	background-color: #F7CAC9; 
	padding: 8px 12px;
	margin: 18px 10px;
	font-weight: 500;
	border: 1px solid gray;
	border-radius: 3px;
	position: relative;
}

.time{
	font-size: 12px;
	bottom: -10px;
	right: 20px;
	background: white;
	position: absolute;
}

/* Refs: https://www.youtube.com/watch?v=4y_IoxjOALQ */


.control { 
	grid-area: control; 

	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.control-container{
	margin: 0px auto;
	text-align: center;
	padding-top: 0;
	color: white;
}
.btn-1{
	/* color: beige !important; */
	font-size: 16px !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	height: 60px !important;
	border-radius: 30px !important;
}

input[type=checkbox].toggle {
	display: none;
}



input[type=checkbox].toggle + label{
	display: inline-block;
	width: 170px;
	height: 60px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	position: relative;
	font-size: 20px;
	border: 4px solid #c7bdbd;
	transition: all 0.3s ease;
}

input[type=checkbox].toggle + label:before{
	position: absolute;
	top: 4px;
	height: 44px;
	width: 44px;
	content: '';
	transition: all 0.3s ease;
	z-index: 3;
}


input[type=checkbox].toggle + label:after{
	/* width: 40px; */
	text-align: center;
	z-index:2;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	text-overflow: ellipsis;
	overflow: hidden;
}



input[type=checkbox].toggle + label.round{
	border-radius: 50%;

}

input[type=checkbox].toggle + label.round:before{
	border-radius: 50%;
}

input[type=checkbox].toggle:not(:checked) + label{
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #2C3E50 74%);
	text-align: right;
}

input[type=checkbox].toggle:not(:checked) + label:after{
	content: attr(data-unchecked);
	right: 25px;
	left: auto;
	/* opacity: 1; */
	color: white;
}

input[type=checkbox].toggle:not(:checked) + label:before{
	/* background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #2C3E50 74%); */
	background-color: white;
	left: 4px;
}

input[type=checkbox].toggle:checked + label{
	text-align: left;
	border-color: #485461;
}

label.round{
	background-color: #E2E3E3;
	/* background-image: linear-gradient(315deg, #E2E3E3 0%, #aeb8b8 74%); */
}

input[type=checkbox].toggle:checked + label:after{
	content: attr(data-checked);
	left: 10px;
	right: auto;
	opacity: 1;
	color: rgb(19, 18, 18);
}

input[type=checkbox].toggle:checked + label:before{
	/* right: ; */
	left: 114px;
	background-color: #485461;
}

section{
	background-color: #ff9a9e;
	background-image: linear-gradient(315deg, #ffecd2 0%, #fcb69f 100%);
}

